body {
    font-family: Montserrat, sans-serif;
    margin: 1rem;
    padding: 0;
    background-image: url('./assets/blur2.jpg');
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-size: cover;
    
    
}

.header {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Align KohliVerse to the left and nav to the right */
    align-items: center;
}

.header-title {
    position: relative;
    text-align: center;
    top: 2rem;
    right: 45rem;
    display: inline; /* or display: inline-block; */
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    text-shadow: #ffffff 0 0 12px,
                     #A91079 0 0 25px,
                     #A91079 0 0 35px,
                     #A91079 0 0 45px;
    
}

.menu-icon {
    margin-left: auto; /* Push menu icon to the right */
  }
  
  .menu-icon i {
    position: absolute;
    top: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .menu-icon i{
    display: none;
  }

 

.ul {
    display: flex;
    list-style-type: none; /* Remove default list styles */
    margin-right: 4rem; /* Add spacing to the right */
}

.ul .nav-item {
    position: relative;
    top: -2rem;
    margin-right: 2rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background: white;
    color: black;
    box-shadow:1px 0 0 1px black; 
    
}

.ul .nav-item:hover{
    background:rgb(234, 192, 234);
    color: darkorchid;
    

}



.ul a {
    text-decoration: none;
    color: black; /* Add color to the links */
}

h1{
    color: darkblue;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 2rem;
    font-weight: 800;
}

/* Modal */
.modal {
    /* display: none;  */
    position:relative; /* Change to fixed position to keep it centered */
    left: 50%; /* Center the modal horizontally */
    top:12rem; /* Center the modal vertically */
    transform: translate(-50%, -50%); /* Center the modal */
    overflow: auto;
    height: auto; /* Allow modal to expand as needed */
    max-height: 100%; /* Limit max height to avoid covering entire viewport */
    width: 20rem;
    margin-bottom: 5rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: rgba(234, 220, 238, 0.995);
}

/* Close Button */
.close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Login Button */
.login {
    background-color: inherit;
    font-size: 1rem;
    text-decoration: none;
    border: none;

}

.login:hover {
    background: rgb(234, 192, 234);
}

/* Modal Content */
.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.input {
    margin-bottom: 1rem;
}

.check {
    display: flex;
    margin-bottom: 1rem;
}

.remember {
    font-size: 0.8rem;
    margin-right: 0.3rem;
}

.login-btn, .cancelbtn {
    border: 2px solid black;
    background: rgb(243, 202, 243);
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.forget {
    display: flex;
}

.psw {
    margin-right: 0.3rem;
}

/* Styles for the dropdown button */
.nav-item .dropbtn {
    background-color: inherit;
    color: black;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Container for the dropdown */
.nav-item .dropdown {
    position: relative;
    display: inline-block;
    top:20rem;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .nav-item .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem; /* Updated min-width to 10rem */
    box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2); /* Updated box-shadow */
    z-index: 1;
    top: 100%;
    left: 0;
}

/* Links inside the dropdown */
.nav-item .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 6rem;
    max-height: 15rem;
    overflow-y: auto;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: calc(100% + 0.3rem); /* Add 0.5rem spacing between button and dropdown content */
    left: 0;
}

/* Links inside the dropdown */
.nav-item .dropdown-content a {
    color: black;
    padding: 1rem 1.6rem;
    text-decoration: none;
    display: block;
}

  
  /* Change color of dropdown links on hover */
  .nav-item .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .nav-item:hover .dropdown-content {
    display: block;
  }

  /* Show the dropdown menu when the button is clicked */
.nav-item .dropbtn:focus + .dropdown-content {
    display: block;
}

/* Hide the dropdown menu when clicking outside */
.nav-item:not(:focus-within) .dropdown-content {
    display: none;
}
  
.container {
    max-width: 50rem; /* 800px in rem units */
    margin: 3.125rem auto; /* 50px in rem units */
    padding: 0 1.25rem; /* 20px in rem units */
}

h1 {
    text-align: center;
}

.contact-info {
    margin-top: 1.875rem; /* 30px in rem units */
}

.contact-info p {
    margin: 0.625rem 0; /* 10px in rem units */
}

/* Footer */
.footer-container {
    background-color: #f4f4f4;
    padding: 1.25rem 0; /* 20px in rem units */
    width: 100%;
    text-align: center;
    transition: margin-top 0.3s ease; /* Add transition for smooth movement */
    margin-top: 0; /* Initial margin-top */
}




.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: flex-start;
}

.column {
    flex: 1;
    padding: 0 1.25rem; /* 20px in rem units */
}

.social-media a {
    display: block;
    margin-bottom: 0.625rem; /* 10px in rem units */
    color: #333;
    text-decoration: none;
}
.social-media{
    display: block;
    flex-direction: column;
}

.facebook{
    display: inline-flex;
}

.facebook i{
    margin-left: 0.4rem;
}

.twitter{
    display: inline-flex;

}

.twitter i{
    margin-left: 0.4rem;
}

.instagram{
    display: inline-flex;
}

.instagram i{
    margin-left: 0.4rem;
}

@media only screen and (max-width: 767px) {

    
    .header-title {
      font-size: 1.5rem; /* Adjust the font size of the header title */
      top: 1rem; /* Adjust the top position of the header title */
      right: 0; /* Adjust the right position of the header title */
    }
    
    .ul {
      margin-right: 2rem; /* Adjust the right margin of the navigation items */
    }
    
    .nav-item {
      margin-right: 1rem; /* Adjust the right margin of individual navigation items */
    }
  
    .nav-item .dropdown-content {
      top: calc(100% + 0.5rem); /* Adjust the top position of the dropdown content */
    }
  
    .img {
      width: 100%; /* Adjust the width of images */
    }
  
    .home {
      height: auto; /* Adjust the height of the home image */
      width: 100%; /* Adjust the width of the home image */
    }
  
    .match-winning h1,
    .match-winning h2 {
      font-size: 2rem; /* Adjust the font size of heading elements */
    }
  
    .career img {
      height: 15rem; /* Adjust the height of images */
      width: 100%; /* Adjust the width of images */
      margin: 1rem 0; /* Adjust the margins of images */
    }
  
    .career p {
      padding: 0;
      margin:1rem ;
      text-align: left; /* Align paragraphs to the left */
      max-width: 100%; /* Ensure paragraphs don't stretch beyond the container width */
    }

    
    .header {
        display: flex;
        justify-content: center; /* Center the header contents horizontally */
        align-items: center;
        height: auto; /* Change height to auto to allow the header to expand */
        transition: height 0.3s ease; /* Add smooth transition effect */
      }
      
      .header-title {
        text-align: center;
        left: 1.3rem;
        top:0;
    }
        
    .menu-icon i {
    display: block; /* Display the icon when screen width is 455px or less */
    top: 1.1rem;
    left: 1rem;
    text-align: start;
    display: block;
    } 

    .ul {
    display: none;
    text-align: start;
    }
        
          
    /* Display the navigation links as a dropdown when active */
    .ul.active {
        display: block;
        position: absolute;
        top: 5rem; /* Adjust the top position as needed */
        left: 0;
        border-radius: 0.3rem;
        padding: 0.5rem;
        z-index: 1000; /* Ensure dropdown is above other elements */
        transition: top 0.3s ease; /* Add smooth transition */
    }
    @media screen and (max-width: 455px) {
        /* Move the form to the top */
        .modal {
            width: 100%; /* Set the width to 100% */
        height: auto; 
          }
      }
      
      
  }

